<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Exploratory Data Analysis">
    <meta name="keywords" content="Exploratory Data Analysis, Movies, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BDSE25_第三組</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    {% block styles %}
    {% include "_styles.html" %}
    {% endblock styles %}

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->

    {% block page_header %}
    {% include "_header_model.html" %}
    {% endblock page_header %}
    <!-- Header End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">

                        <h2>Exploratory Data Analysis </h2>

                    </div>
                </div>
                <div class="col-lg-8 ">
                    <span style='font-size:20px;'></span>
                    <div class="blog__details__item__text ">
    
                        <h4>&#127871; 熱門電影排行</h4>
                        <div class="test">
                            <img src="/static/img/movie_counts.gif" alt="">
                        </div>
                        
                       
                    </div>
                    <span style='font-size:20px;'></span>
                    <div class="blog__details__item__text ">
    
                        <!-- 
                        <div class="test">
                            <a href="https://changbigdata20220324.github.io/map/map1.html"target=_blank><img src="/static/img/map.png" style="height: 50%px;"></a>
                        </div> -->
                        <h4>&#127871; 電影和它們的產地(請點擊圖片)</h4>
                        <div class="test">
                            <a href="https://plotly.com/~gogovamosrafa/4/?share_key=Uj11G61hOeqNHwt9BxoMMM" target="_blank" title="movies map" style="display: block; text-align: center;"><img src="https://plotly.com/~gogovamosrafa/4.png?share_key=Uj11G61hOeqNHwt9BxoMMM" alt="movies map" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
                            <script data-plotly="gogovamosrafa:4" sharekey-plotly="Uj11G61hOeqNHwt9BxoMMM" src="https://plotly.com/embed.js" async></script>
                        </div>
                        
                       
                    </div>

                    <div class="blog__details__content">
                        {% for ppt in modelppt %}
                        <span style='font-size:20px;'></span>
                        <div class="blog__details__item__text ">

                            <h4>&#127871; {{ppt.title}}</h4>
                            <div class="test">
                                <img src="{{ppt.links}}" alt="">
                            </div>
                            <p>{{ppt.content}}</p>
                           
                        </div>
                        {% endfor %}
                    
                       
                        
                       
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="{{url_for('index')}}" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo" style="width:75% ;border:0px;">
                        <a href="{{url_for('index')}}"><img src="https://i.gifer.com/9QyD.gif" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="{{url_for('index')}}">BDSE25_第三組_專題報告</a></li>
                            <li class="active"><a href="{{url_for('index')}}">!!僅供ispan專題練習使用,無任何商業行為!!</a></li>
                            <!-- <li><a href="./categories.html">Categories</a></li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li> -->
                        </ul>
                    </div>
                </div>
                <!-- 版權資料不能移除 -->
                <div class="col-lg-3">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->


    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    {% block scripts %}
    {% include "_scripts.html" %}
    {% endblock scripts %}


</body>

</html>