

<header class="header">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-2">
                <!-- <div class="header__logo" style="width:75% ">
                    <a href="{{url_for('index')}}">
                        <img src="https://c.tenor.com/8ctGtM0JDmUAAAAC/marvel-avengers.gif">
                    </a>
                </div> -->
            </div>
            <div class="col-lg testcenter">
                <div class="header__nav ">
                    <nav class="header__menu mobile-menu">
                        <ul>
                           
                            {% block user_id %}
                    
                            <li ><a href="{{url_for('index')}}">Restart</a></li>
                            <li class="active"><a href="{{url_for('about')}}">About</a></li>
                            <li ><a href="{{url_for('model')}}">Analysis</a></li>
                         
                                
                              
                            {% endblock user_id %}
                           
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <!-- <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    <a href="#"><span class="icon_profile"></span></a>
                </div> -->
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>

</header>