<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="static/css/plyr.css" type="text/css">
<link rel="stylesheet" href="static/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="static/css/style.css" type="text/css">
<link rel="stylesheet" href="static/css/test.css" type="text/css">
