body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }
  .test{
    border-top: aqua;
    border-style: dotted;
    border:10px;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .test :hover{
    z-index: 100;
    transition: transform 0.5s ease;
    transform: scaleX(1.07) scaleY(1.07);
    
  }
  .testcenter{
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }
  .small{
    padding:0;
  }

  .flexRow{
    display: flex;
    flex-direction: row;
  }
  .flexRow1{
    display: flex;
    flex-direction: column;
  }
  .alignCenter{
    align-items: center;
  }
  .absolute{
    position: absolute;
  }
 
  .left{
    left: 0;
  }
  .left1{
    left: 0;
  }
  .right{
    right: 0;
  }
  .right1{
    right: 0;
  }
  .spantest{
    color:blue;
    font-size: 4vw;
    background: rgba(25,25,25,0.2);
    height: 325px;
    z-index: 5;
    cursor: pointer;
    width: 4vw;
    
  }
  section{
    margin: 0;
    padding: 0;
  }

  
  
  .overflowHidden{
    overflow-x: visible;
    
  }
  .overflowScroll{
    overflow-y: hidden;
    background-size:cover;

    
    
    

  }
  .overflowScroll::-webkit-scrollbar{
   
    border: 1px solid slategrey;
    border-color: rgba(255,187,102, 0.8);
    border-radius: 10px;
  
  }
  .overflowScroll::-webkit-scrollbar-track {

    border-radius: 10px;
    border-color: rgba(255,187,102, 0.8);
    padding-top: 10px;
   
    

  }
  .overflowScroll::-webkit-scrollbar-thumb{
    /* background-color: rgba(255,187,102, 0.8);
    border: 1px solid slategrey;
    border-radius: 50px; */
    background-color: rgba(255,187,102, 0.8);
    border: 6.5px solid transparent;
    border-radius: 10px;
    background-clip:padding-box;
   
  }

  /* .overflowScroll::-webkit-scrollbar-button{
    background-color:red; 
    border-radius: 0.5px;
    opacity:0.01;
  } */

  /*
  article{
    width: 25vw;
    height: 325px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
  }
  /*
  .article:hover{
    transition: transform 0.2s ease;
    width: 30vw;
    height: 25vw;
    
  }*/
  article h3{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }
  
  .height{
    height: 50vw;  
  }
  .holder{
    width: 20vw;
    height: 15vw;
    position: relative;  
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.5s ease;
  }
  .holder:hover{
    transform: scaleX(1.2) scaleY(1.3);
    /* width: 30vw;
    height: -30vw; */
    flex-grow: 1;
    /* border-radius:2%; */
    z-index: 4;
    transition: transform 0.5s ease;
    
  }
  .holder img{
    width: 100%;
    height: 100%;
  }
  #carousel{
    position: relative;
  }
  .first{
    margin-left: 0;
  }
  .last{
    margin-right: 0;
  }
  /* .transition{
    transition: 0.5s;
  } */